
<div ng-controller="MonitorController">
<div id="deviceListPanel" ng-show="true">
	Pimolari monitor panel 2.0
	<!-- temporary -->
	<div ng-show="project==null" id="deviceNameAndId" ng-click="">
		<h3><span>You have no projects configured</span></h3>
		<button class="btn btn-primary btn-ms" type="button" ng-click="navigate('/project');">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create project
		</button>
	</div>
	<div ng-show="!showEditLongDesc && project!=null" id="deviceNameAndId" ng-click="">
		<h3><span>{{project.id}}:{{project.name}}</span>&nbsp;</h3>
		<button class="btn btn-success btn-xs" type="button">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Turn off
		</button>
		<button class="btn btn-primary btn-xs" type="button" ng-click="newDevice();">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add device
		</button>
		<h4><span><small>Last updated {{lastupdate | date:'dd/MM/yyyy HH:mm:ss'}} {{message}}</small></span></h4>
	</div>
	
					
	
	<!-- Includes device list template-->				
	<!--ng-include src="'components/project/project-details.html'"-->
	
	<!-- Includes device list template-->				
	<ng-include src="'/beta/components/device/device-list.html'">
	
</div> <!-- ng-show deviceListPanel -->
<!-- pre>monitor > currentProject : {{project | json}}</pre-->
</div>