		<div class="container" ng-controller="HeaderController">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="" src="../../../img/logo_pimolari_130x65.png"/></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li class="active dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{project.name}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-repeat="p in projects"> <!-- ng-if="$index > 0"> -->
										<a ng-href="#/monitor/{{p.id}}">-> {{p.name}}</a>
									</li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-href="#/projects">Manage projects</a></li>
                </ul>
              </li>
							<li>
								<a href="#/project"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> New Project</a>
							</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../navbar-fixed-top/"></a></li>
							
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><small>Gerardo Mongelli</small><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a>Free account<small> Upgrade now </small></a></li>
									<li><a ng-href="">Edit account</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="">Logout</a></li>
                </ul>
              </li>
							
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
				
      </nav>
			<!--pre>project: {{project|json}}</pre-->
		</div>
		
		